@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*QUERY SIZE
Small
320x569, 360x640, 480x854

Medium
991xVar-+

Large
>992xVar-+
*/

html,
* {
    font-family: 'Montserrat', sans-serif;
}

html, body{    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
    
    footer .row .col span {
        font-size: 1.2rem;
    }    
}
    
    /*NAVBAR*/
    
nav.navbar.navbar-expand-lg.navbar-light{
    background-color: #dcf4ff!important;
    margin: 0 !important;
}

nav.navbar.navbar-expand-lg a:hover {
    text-decoration: none;
}

form.form-inline.my-2 button.btn.my-2 {
    z-index: -100;
    position: absolute;
}

form.form-inline input.form-control {
    border-radius: 60px;
}
/*END OF NAVBAR*/

/*SECTION*/

.main-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../gambar/martin-brosy-758535-unsplash.jpg");
    height: 70%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#join-us{
    font-family: 'gotham', 'serif';
    text-align: right;
    padding: 10% 0px;
    overflow: auto;
    color: rgb(163, 163, 163);
}

#join-us h1{
    font-weight: bolder;
/*    font-size: 5vp;*/
}

#join-us span{
    font-weight: bolder;
    color: white;
}

/*FORM-COVER*/

.form-cover{
    background-color: white;
    box-shadow: 7px 7px #292929;
    text-align: center;
    margin: 4.5rem auto;
    height: 75%;
    width: 50%;
    border-radius: 7%;
}

#form-register{
    padding: 1.1rem 0;
    color: #9498fa;
}

.form-control{
    width: 78%;
    margin: 0 2rem;
}

.label-form{
    font-family: 'gotham', 'serif';
    font-weight: bolder;
    font-size: 1.4rem;
    float: left;
    margin: 0 2rem;
}

input[type=text], input[type=email]{
    border-radius: 20px;
    box-shadow: 2px 2px #9498fa;
}

/*END OF FORM-COVER*/

/*SECTION 2*/

#sec2{
    background-color: #6565c9;
}

section#sec2 h1#ht{
    font-weight: bolder;
/*    font-size: 100rem;*/
}

/*END OF SECTION 2*/

/*END OF SECTION*/

    /*FOOTER*/

footer {
    font-weight: bolder;
/*    position:absolute;*/
    text-align: center;
    bottom:0;
    width:100%;
    height:38vh;
    background-image: url("../gambar/background-motive.jpg");
    background-position: right;
    margin: 0 auto;
    padding: 3vh;
}

footer .row .col {
/*    background-color: black;*/
    height: 100%;
}

footer .row .col span{    
    position: relative;
    color: #b5dae5;
    text-decoration: underline;
    top: 50%;
    font-size: 1.4rem;
/*    background-color: black;*/
/*    padding-top: 100%;*/
}

footer .row .col .logo{
    color: #898dff;
    font-weight: bolder;
    font-size: 1.3rem;
    position: relative;
    top: 90%;
/*    vertical-align: bottom;*/
}

.outer{
/*
    display: flex;
    flex-direction: column;
    justify-content: center;
*/
    position: relative;
}

.gambar{
    background-image: url("../gambar/LogoSSMFix.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 10rem;
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}