
/*SEARCH PAGE*/
.search-page {
    width: 100%;
    background-position: center;
    background-size: cover;
    background: linear-gradient(-78deg, rgb(25, 63, 188), rgb(28, 108, 188));
}

.card-faris {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    min-height: 50vh;
}

btn {
    border: none;
    outline: 0;
/*    display: inline-block;*/
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.btn-search{
    bottom: 0;
    margin: 0 auto;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#gmbr{
    object-fit: cover;
}

button:hover, a:hover {
    opacity: 0.7;
}

.space-card{
    margin-bottom: 8vh;
}

.deskripsi{
    text-align: justify;
    margin: 1rem;
    font-size: 16px;
}

.bg{
    padding: 2rem 0;
}
.card-faris2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: auto;
    text-align: center;
    height: 70%;
}

.thumb{
    border-right: 1px solid rgb(211, 202, 202);
}
/*END OF SEARCH PAGE*/