@extends('layouts.baseTemplate')
@section('content')

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        Sistem Sehat Mudah
    </title>
    <link type="text/css" rel="stylesheet" href="/public/css/app.css">
    <link type="text/css" rel="stylesheet" href="/public/css/newThreadDummy.css">
</head>
<!--    CONTENT-->

<body>

    <!--    SECTION 1 - FORM-->

    <section class="container card card-block bg-faded">
        <form >
<!--            TITLE-->
            <div class="form-group">
                <br>
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            
<!--            DESC-->
            <div class="form-group">
                <label for="description">Description</label>
                <br>
                <input type="hidden" value="description">
                <textarea rows="4" cols="100" name="comment" form="usrform" ></textarea>
            </div>
            
<!--            PICTURE-->
            <div class="form-group">
                <label for="image">Choose File for Image</label>
                <br>
                <input type="file" id="file" value="file">
            </div>
            
<!--            SUBMIT-->
            <div class="form-group">
                <button class="btn btn-info btn-lg">Submit</button>
            </div>
        </form>
    </section>

    {{-- END OF SECTION 1 --}}

</body>

<!--    END OF CONTENT-->
@endsection
